{% extends 'app/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block category %}
    <div class="row form-mgl form-mgr">
        {% for product in products %}
        <div class="col-lg-3">
            <img src="{{product.ImageURL}}" alt="" class="thumbnail">
            <div class="box-element product">
                <div style="display: flex;justify-content: space-around;">
                    <h4 style="font-weight: 500; font-size: 18px;">{{product.name}}</h4>
                    <h6>${{product.price | floatformat:2}}</h6>
                </div>
                <hr>
                <div style="display: flex; justify-content: space-around;">
                    <button data-product={{product.id}} data-action="add" class="btn btn-sm btn-outline-secondary add-btn update-cart">Thêm vào giỏ hàng</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <br>
    {%endblock category %}
</body>
</html>